body {
	color: black;
	background-color: white;
	text-align: center;
	box-sizing: border-box;
}

h1 {
	color: darkgray;
	padding: 10px 0;
	border-top: 4px double #000000;
	border-bottom: 4px double #000000;
	border-left: none;
	border-right: none;
	font-family: 'Merriweather', serif;
	font-weight: 300;
	word-spacing: 10px;
	letter-spacing: 3px;
}

img {
	border: thick solid gray;
	border-radius: 125px;
	-moz-border-radius: 125px;
	-webkit-border-radius: 125px;
	border-radius: 125px; 
	-khtml-border-radius: 125px; 
	position: relative;
	z-index: 20;
}

nav {
	display: inline-flex;
	width: 100%;
	position: relative;
	bottom: 148px;
}

.butt {
	padding: 10px 36px;
	border-top: 4px double #000000;
	border-bottom: 4px double #000000;
	border-left: none;
	border-right: none;
	width: 12%;
	float: left;
}

.empty {
	padding: 10px;
	border-top: medium double #000000;
	border-bottom: medium double #000000;
	border-left: none;
	border-right: none;
	width: 32%;
	float: left;
}

a {
	text-decoration: none;
}

#leftaside {
	float: left;
	width: 20%;
}

#rightaside {
	float: right;
	width: 20%;
}

article {
	color: darkgray;
	font-family: serif;
	font-weight: lighter;
	width: 40%;
	text-align: left;
	font-size: 20px;
	line-height: 1.8em;
	padding: 25px 75px;
	margin: 20px auto;
	border: .5px solid gray;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px; 
	-khtml-border-radius: 15px; 
	position: relative;
	z-index: 20;
	background-color: whitesmoke;
}

#tree {
	border: none;
}